aext_assistant 
aext_assistant_server 
aext_core 
aext_core_server 
aext_shared 
aiobotocore 
aiofiles 
aiohttp 
aioitertools 
aiosignal 
aiosqlite 
alabaster 
alembic==1.13.1
altair 
anaconda-anon-usage 
anaconda-catalogs 
anaconda-client 
anaconda-cloud-auth 
anaconda-navigator 
anaconda-project 
analytics-python==1.4.post1
annotated-types==0.7.0
ansicolors==1.1.8
anyio 
appdirs==1.4.4
applaunchservices 
appnope 
appscript 
archspec 
argon2-cffi 
argon2-cffi-bindings 
arrow 
asgiref==3.8.1
astroid 
astropy 
asttokens 
async-lru 
atomicwrites==1.4.0
atoti-core==0.8.12
atoti-jupyterlab==0.8.12
atoti-query==0.8.12
attrs 
Automat 
autopep8 
Babel 
backoff==1.10.0
backports.functools-lru-cache 
backports.tempfile 
backports.weakref==1.0.post1
backtrader==1.9.78.123
bcrypt==4.1.3
beautifulsoup4==4.12.3
binaryornot 
bitarray==2.9.2
black 
bleach 
blinker 
blis==0.7.11
boltons 
boto3==1.34.117
botocore==1.34.117
Bottleneck 
Brotli 
build==1.2.1
cachetools 
catalogue==2.0.10
certifi 
cffi 
chardet 
charset-normalizer 
chroma-hnswlib==0.7.5
chromadb==0.5.4
click 
cloudpathlib==0.18.1
cloudpickle 
clr-loader==0.2.6
clyent==1.2.2
cohere==5.6.1
colorama 
colorcet 
coloredlogs==15.0.1
comm==0.2.2
conda 
conda-build 
conda-content-trust 
conda-libmamba-solver 
conda-pack 
conda-package-handling 
conda-repo-cli==1.0.75
conda-token 
conda-verify==3.4.2
conda_index 
conda_package_streaming 
confection==0.1.5
constantly 
contourpy 
cookiecutter 
cryptography 
cssselect 
cycler 
cymem==2.0.8
Cython==3.0.9
cytoolz 
dash==2.17.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dask 
dataclasses-json==0.6.6
datashader 
dateparser==1.2.0
debugpy 
decorator 
defusedxml 
Deprecated==1.2.14
diff-match-patch 
dill==0.3.8
dirtyjson==1.0.8
diskcache==5.6.3
distlib==0.3.8
distributed 
distro 
dnspython 
docstring-to-markdown 
docstring_parser==0.16
docutils 
email_validator==2.1.1
embedchain==0.1.104
emoji==2.12.1
empyrical==0.5.5
entrypoints 
et-xmlfile==1.1.0
executing 
fastapi==0.111.0
fastapi-cli==0.0.4
fastavro==1.9.4
fastjsonschema 
filelock 
finta==1.3
flake8 
Flask-Cors==4.0.1
flatbuffers==24.3.25
fonttools==4.25.0
fqdn==1.5.1
frozendict 
frozenlist 
fsspec 
future 
generativeai==0.0.1
gensim 
gitdb 
GitPython 
gmpy2 
google-ai-generativelanguage==0.6.6
google-api-core==2.19.1
google-api-python-client==2.137.0
google-auth==2.32.0
google-auth-httplib2==0.2.0
google-cloud-aiplatform==1.59.0
google-cloud-bigquery==3.25.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.12.4
google-cloud-storage==2.17.0
google-crc32c==1.5.0
google-generativeai==0.7.2
google-resumable-media==2.7.1
googleapis-common-protos==1.63.2
gptcache==0.1.43
greenlet 
grpc-google-iam-v1==0.13.0
grpcio==1.62.2
grpcio-status==1.62.2
h11 
h5py 
HeapDict 
hfst==3.16.0.1
holoviews 
html5lib==1.1
httpcore 
httplib2==0.22.0
httptools==0.6.1
httpx==0.27.0
httpx-sse==0.4.0
huggingface-hub==0.24.0
humanfriendly==10.0
hvplot 
hyperlink 
idna 
imagecodecs 
imageio 
imagesize 
imbalanced-learn 
importlib-metadata==7.0.0
importlib_resources==6.4.0
impyla==0.19.0
incremental 
inflection==0.5.1
iniconfig 
install==1.3.5
InstructorEmbedding==1.0.1
intake 
intervaltree 
ipykernel 
ipython 
ipython-genutils 
ipywidgets==8.1.2
isoduration==20.11.0
isort 
itemadapter 
itemloaders 
itsdangerous 
jaraco.classes 
jdk4py==17.0.9.2
jedi 
jellyfish 
Jinja2==3.1.4
jmespath 
joblib 
json5 
jsonpatch 
jsonpointer==2.1
jsonschema 
jsonschema-specifications 
jupyter 
jupyter-console 
jupyter-contrib-core==0.4.2
jupyter-contrib-nbextensions==0.5.1
jupyter-events 
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-lsp 
jupyter-nbextensions-configurator==0.6.3
jupyter-ydoc 
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server 
jupyter_server_fileid==0.9.1
jupyter_server_terminals 
jupyter_server_ydoc 
jupyterlab==4.1.5
jupyterlab-code-snippets==2.2.1
jupyterlab-pygments 
jupyterlab_server 
jupyterlab_templates==0.5.1
jupyterlab_widgets==3.0.10
kaleido==0.2.1
keyring 
kiwisolver 
kneed==0.8.5
kubernetes==29.0.0
langchain-cohere==0.1.9
langchain-community==0.2.7
langchain-core==0.2.22
langchain-experimental==0.0.62
langchain-openai==0.1.17
langchain-text-splitters==0.2.2
langcodes==3.4.0
langsmith==0.1.92
language_data==1.2.0
lazy-object-proxy 
lazy_loader 
lckr_jupyterlab_variableinspector 
libarchive-c 
libmambapy 
linkify-it-py 
litellm==1.39.5
llvmlite 
lmdb 
locket 
lxml 
lz4 
Mako==1.3.5
marisa-trie==1.2.0
Markdown 
markdown-it-py 
MarkupSafe 
marshmallow==3.21.2
matplotlib 
matplotlib-inline 
mccabe 
mdit-py-plugins 
mdurl 
menuinst 
mikatools==1.0.1
minijinja==2.0.1
mistune 
mitosheet==0.1.565
mmh3==4.1.0
monotonic==1.6
more-itertools 
mplchart==0.0.8
mplfinance==0.12.10b0
mpmath 
msgpack 
mstrio-py==11.3.12.102
multidict 
multipledispatch 
multiprocess==0.70.16
multitasking==0.0.11
munkres==1.1.4
murmurhash==1.0.10
mypy 
mypy-extensions 
mysql-connector-python==8.3.0
navigator-updater 
nbclassic 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
networkx 
nltk 
notebook 
notebook_shim 
numba 
numexpr 
numpy 
numpydoc 
oauthlib==3.2.2
onnx==1.16.1
onnxruntime==1.16.3
openai==1.36.0
openpyxl==3.0.10
opentelemetry-api==1.24.0
opentelemetry-exporter-otlp-proto-common==1.24.0
opentelemetry-exporter-otlp-proto-grpc==1.24.0
opentelemetry-instrumentation==0.45b0
opentelemetry-instrumentation-asgi==0.45b0
opentelemetry-instrumentation-fastapi==0.45b0
opentelemetry-proto==1.24.0
opentelemetry-sdk==1.24.0
opentelemetry-semantic-conventions==0.45b0
opentelemetry-util-http==0.45b0
oracledb==2.1.0
orjson==3.10.3
overrides 
packaging 
pandarallel==1.6.5
pandas==2.1.3
pandas-datareader==0.10.0
pandas-ta==0.3.14b0
pandasql==0.7.3
pandocfilters 
panel 
papermill==2.6.0
param 
parameterized==0.9.0
parsel 
parso 
partd 
pathlib 
pathlib_abc==0.1.1
pathspec 
pathy==0.11.0
patsy==0.5.3
pdfminer==20191125
pdfminer.six==20231228
pdfplumber==0.11.0
peewee==3.17.1
pexpect 
pickleshare 
pillow 
pinecone-client==4.1.0
pivottablejs==0.9.0
pkce 
pkginfo 
platformdirs 
plotly 
pluggy 
ply==3.11
posthog==3.5.0
preshed==3.0.9
prometheus-client 
prompt-toolkit 
Protego 
proto-plus==1.23.0
protobuf==4.25.3
psutil 
ptyprocess 
pure-eval 
pure-sasl==0.6.2
py-cpuinfo 
py4j==0.10.9.7
pyarrow==16.1.0
pyarrow-hotfix==0.6
pyasn1 
pyasn1-modules==0.2.8
pycodestyle 
pycosat 
pycparser 
pycryptodome==3.20.0
pyct 
pycurl 
pydantic==2.8.2
pydantic_core==2.20.1
pydeck 
PyDispatcher==2.0.5
pydocstyle 
pyerfa 
pyflakes 
pyfolio==0.9.2
Pygments 
pyhfst==1.3.0
pyhumps==3.8.0
PyJWT 
pylint 
pylint-venv 
pyls-spyder==0.4.0
pymongo==4.6.2
PyMuPDFb==1.24.3
PyMySQL==1.1.0
pyobjc-core 
pyobjc-framework-Cocoa 
pyobjc-framework-CoreServices 
pyobjc-framework-FSEvents 
pyodbc 
pyOpenSSL 
pyparsing 
pypdf==4.2.0
PyPDF2==3.0.1
pypdfium2==4.30.0
PyPika==0.48.9
pyproject_hooks==1.1.0
PyQt5==5.15.10
PyQt5-sip 
PyQtWebEngine==5.15.6
pysbd==0.3.4
PySocks 
pytest 
python-dateutil 
python-dotenv==1.0.1
python-json-logger 
python-lsp-black 
python-lsp-jsonrpc==1.0.0
python-lsp-server 
python-multipart==0.0.9
python-slugify 
python-snappy 
pythonnet==3.0.3
pytoolconfig 
pytz 
pyviz-comms 
pywavelets 
PyYAML 
pyzmq 
QDarkStyle 
qstylizer 
QtAwesome 
qtconsole 
QtPy 
QuantStats==0.0.62
queuelib 
referencing 
regex 
removeaccents==0.1
requests 
requests-file 
requests-futures==1.0.1
requests-oauthlib==2.0.0
requests-toolbelt 
retrying==1.3.4
rfc3339-validator 
rfc3986-validator 
rich==13.7.1
rope 
rpds-py 
rsa==4.9
Rtree 
ruamel-yaml-conda 
ruamel.yaml 
s3fs 
s3transfer==0.10.1
safetensors 
schedule==1.2.1
schema==0.7.7
scikit-image 
scikit-learn 
scipy 
Scrapy 
seaborn 
semver 
Send2Trash 
sentence-transformers==3.0.0
sentencepiece 
service-identity 
shapely==2.0.4
shellingham==1.5.4
sip 
six 
smart-open 
smmap 
sniffio 
snowballstemmer 
sortedcontainers 
soupsieve 
spacy==3.5.0
spacy-legacy==3.0.12
spacy-loggers==1.0.5
Sphinx 
sphinxcontrib-applehelp 
sphinxcontrib-devhelp 
sphinxcontrib-htmlhelp 
sphinxcontrib-jsmath 
sphinxcontrib-qthelp 
sphinxcontrib-serializinghtml 
spyder 
spyder-kernels 
SQLAlchemy==2.0.30
srsly==2.4.8
stack-data 
stanza==1.8.2
starlette==0.37.2
statsmodels 
stock-indicators==1.2.1
streamlit==1.36.0
stringcase==1.2.0
striprtf==0.0.26
sweetviz==2.3.1
sympy 
tables 
tabulate 
tblib 
tenacity==8.3.0
teradata==15.10.0.21
teradatasql==20.0.0.8
terminado 
text-unidecode 
textblob==0.18.0.post0
textdistance 
thinc==8.1.12
threadpoolctl 
three-merge 
thrift==0.16.0
thrift-sasl==0.4.3
tifffile 
tiktoken==0.7.0
tinycss2 
tinydb==4.8.0
tldextract 
tokenizers==0.15.2
toml 
tomlkit 
toolz 
torch 
torchvision 
tornado 
tqdm 
traitlets 
transformers==4.42.4
truststore 
Twisted 
typer==0.12.3
types-requests==2.32.0.20240523
typing-inspect==0.9.0
typing_extensions 
tzdata 
tzlocal 
uc-micro-py 
ujson 
Unidecode 
uralicNLP==1.5.1
uri-template==1.3.0
uritemplate==4.1.1
urllib3 
uvicorn==0.30.0
uvloop==0.19.0
validators 
vectorbt==0.26.0
virtualenv==20.25.1
w3lib 
wasabi==0.10.1
watchdog 
watchfiles==0.22.0
wcwidth 
weasel==0.4.1
webcolors==1.13
webencodings==0.5.1
websocket-client 
websockets==12.0
Werkzeug 
whatthepatch 
widgetsnbextension==4.0.10
wordcloud==1.9.3
wrapt 
wurlitzer 
xarray 
xlwings 
xxhash==3.4.1
xyzservices 
y-py==0.6.2
yapf 
yarl 
yfinance==0.2.37
ypy-websocket 
zict 
zipp 
zope.interface 
zstandard 
